.start {
    width: 100%;
    height: 100vh;
    background: url("../Images/diet-header.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main #oneline i {
    top: 50%;
    left: 50%;
    transform: translate(8%, 80%);
    font-size: 1.3em;
    color: #203592;
}

.main strong {
    font-family: 'Dela Gothic One', cursive;
    color: black;
    font-size: 2em;
    color: #203560;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1vw;
}


.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #96cdff;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    border-radius: 5px;
    background-color: #71b7e6;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box,
.gender-details {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .input-box .details {
    width: 15%;
}

.user-details .input-box input,
.input-box select {
    height: 45px;
    width: 60%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #203560;
}

form .gender-details .gender-title {
    font-size: 16px;
    font-weight: 500;
    width: 15%;
}

form .category {
    display: flex;
    width: 40%;
    margin: 14px 0;
    justify-content: space-between;
    padding-left: 15px;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

.target ul {
    list-style: none;
}

.target li {
    display: inline-block;
    margin-right: 15px;
}

.target input {
    visibility: hidden;
}

.target label {
    cursor: pointer;
    background-color: whitesmoke;
    padding: 0.5vw;
    border: solid 2.5px #203560;
    border-radius: 8px;
}

.target input:checked+label {
    color: #96cdff;
    background-color: #203560;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #71b7e6;
}

form .button input:hover {
    background: #203560;
    color: #96cdff;
}

@media(max-width: 584px) {
    .container {
        max-width: 100vw;
        max-height: 100vh;
    }
    form .input-box .details {
        width: 40vw;
    }
    .user-details {
        width: fit-content;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 60vw;
        display: flex;
        flex-direction: row;
    }
    form .category {
        width: 100%;
    }

    .gender-title {
        align-self: flex-start;
        min-width: 40vw;
    }
    
    .gender-details {
        flex-direction: column;
    }

    .content {
        height: fit-content;
        margin: 0;
        padding: 0%;
    }
    .target ul li {
        margin-left: 17vw;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}