
.intro {
    width: 100%;
    height: 100vh;
    background: url("../Images/bmi-header.jpg");
    background-color: rgba(255, 255, 255, 0.35);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-main {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
}

.intro-main #oneline i {
    top: 50%;
    left: 50%;
    transform: translate(8%, 80%);
    font-size: 1.3em;
    color: #203592;
}

.intro-main strong {
    font-family: 'Dela Gothic One', cursive;
    color: black;
    font-size: 2em;
    color: #203560;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1vw;
}
/*
other Part*/

.bmi-intro {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #96cdff;
    padding-top: 7vh;
}

#calculator {
    align-self: center;
    padding-left: 10%;
    text-align: center;
    vertical-align: middle;
}

#calculator,
#guide {
    height: 100%;
    width: 100%;
}

#guide {
    background: #96cdff;
    padding-left: 3vw;
}

#calculator h2,
#guide h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    padding-top: 2vh;
    color: #203560;
}

#guide h2 {
    color: #000;
    letter-spacing: 2px;
    font-size: 50px;
}

.inp {
    padding-top: 15vh;
}

#calculator input[type="number"] {
    height: 45px;
    width: 310px;
    margin: 10px 0;
    padding: 0px 15px;
    border: 2px solid #203560;
    outline: none;
    color: #203560;
    font-size: 15px;
    font-weight: 800;
}

#calculator input[type="number"]::placeholder {
    color: #203560;
}

#calculate {
    height: 50px;
    width: 310px;
    margin: 20px 0;
    padding: 0px 15px;
    border: none;
    outline: none;
    background: #203560;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
}

#calculate:hover {
    color: #203560;
    background: #fff;
    border: solid #203560 5px;
    cursor: pointer;
}

#calculator #yourBMI,
#bmiinfo {
    font-size: 20px;
    color: #203560;
    font-weight: 800;
}

#guide ul {
    padding: 0 20px;
}

#guide ul li {
    height: 50px;
    font-size: 16px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    max-height: 100vh;
}

.row:after {
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    #calculator {
        padding-left: 0%;
    }
}

#brd {
    border-color: #5AA9E6;
    border-width: 5px;
    border-style: solid;
    margin-top: 10vh;
    padding-bottom: 4vh;
    background-color: #7FC8F8;
    margin-right: 3vw;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 10px 5px 10px 5px rgb(0 0 0 / 19%);
}