* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* .nav-bar {
    width: 100%;
    min-height: 100vh;
    background: #4CA1E5;
    background-size: cover;
} */


/* padding: 0vw 5vw; */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    background-color: #203560;
    padding: 0vw 5vw;
    color: white;
    width: 100vw;
    position: fixed;
    background-position: fixed;
    z-index: 1;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li {
    padding-left: 20px;
}

.nav-bar ul a,
.nav-bar h2 a {
    color: azure;
    text-decoration: none;
}

.nav-bar ul a:hover,
.nav-bar h2 a:hover {
    cursor: pointer;
    color: brown;
}