* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #71b7e6;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14vh;
    background-color: #71b7e6;
    height: 100vh;
    line-height: 6vh;
    /* padding-top: 10vh; */
    padding-left: 10vw;
    padding-right: 10vw;
}

.container {
    max-width: 90vw;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.mealtime {
    font-weight: 750;
}

.mealList {
    padding-left: 2vw;
    /* color: #203560; */
    /* background: #000; */
}

@media(max-width: 584px) {
    .container {
        max-width: 100vw;
    }
    /* .user-details::-webkit-scrollbar {
        width: 5px;
    } */
    .content {
        height: 100vh;
        margin: 0;
        padding: 0%;
    }
    .strtt {
        margin-top: 50vh;
        /* margin-bottom: 20vh; */
        height: 90vh;
        /* padding-bottom: 10vh; */
        margin-bottom: 2vh;
    }
    .mealList {
        font-size: 0.8em;
    }
    .intro {
        line-height: 5vh;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}


/*Making columns and rows*/

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
    /* height: max-content; */
    height: 80vh;
    max-height: 70vh;
    /* height: ; */
    /* Should be removed. Only for demonstration */
}

.row {
    width: 80vw;
    /* max-height: 80vh; */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*
Pie chart sec*/

#tcal {
    align-self: center;
    color: aliceblue;
    font-size: 1.3em;
}